.nav {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 999;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  .nav-item {
    width: 50%;
    font-size: 14px;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    &.user-news {
      .title {
        display: block;
      }
      img {
        width: 35px;
        height: 35px;
      }
    }
    &.user-center {
      .title {
        display: block;
      }
      img {
        width: 35px;
        height: 35px;
      }
    }
  }
}