.header {
  text-align: center;
  .avatar {
    img {
      border-radius: 50%;
    }
  }
  .nickname {
    font-size: 18px;
  }
}
.list {
  position: fixed;
  bottom: 70px;
  width: 100%;
  .logout {
    width: 80%;
    margin-left: 10%;
  }
}